<div class="h-screen bg-black p-8">
	<h1 class="text-2xl text-red-400">Dados App</h1>

	<div class="flex flex-col justify-center items-center content-center">
		<button
			class="rounded-md p-2 bg-lime-400 m-2 text-white"
			(click)="rollDices()"
		>
			Roll dices
		</button>

		<div class="flex justify-around">
			<div class="w-24 bg-red-800 rounded-md m-2">
				<img [src]="diceLeft" alt="" />
			</div>
			<div class="w-24 bg-red-800 rounded-md m-2">
				<img [src]="diceRight" alt="" />
			</div>
		</div>
		<span
			*ngIf="numOne === numTwo"
			class="rounded-sm p-1 bg-green-400 text-white m-2 text-2xl"
			>YOU WIN!</span
		>
	</div>
</div>
